#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  flex-basis: 90%;
  min-height: 600px;
  min-width: 960px;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.menu-basis {
  flex-basis: 150px;
}

.bottom {
  flex-basis: 80px;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 3;
}

.vertical-write {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  text-align: center;
}

.spread {
  text-align: center;
}
